<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-bg">
  <div class="container">
    <h2>Welcome Back</h2>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" inputmode="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()">Login</ion-button>

    <p class="register-link">Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</ion-content>