<ion-content class="ion-padding welcome-bg">
  <div class="container">
    <img src="assets/logo.png" alt="EMSCall Logo" class="logo" />
    <h1>Welcome to <strong>EMSCall</strong></h1>
    <p class="subtitle">Because every second counts</p>

    <ion-button expand="block" shape="round" color="primary" routerLink="/login">
      Login
    </ion-button>

    <ion-button expand="block" shape="round" fill="outline" color="light" routerLink="/register">
      Register
    </ion-button>
  </div>
</ion-content>